



.verticalLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profilePic {
    max-width: 30rem;
}


#aboutMe {
    max-width: 40rem;
}

#videoTitle {
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

iframe {
    margin-bottom: 3rem;
}


button {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    /*border: .2rem solid #F0C808;*/
    border: .2rem solid #119DA4;
    padding: .8rem 2rem .8rem 2rem;
    margin: 1rem;
    color: black;
    align-self: center;
}

button:hover {
    color:white;
    background-color: #119DA4;
    -webkit-transition: background-color .15s;
    -moz-transition: background-color .15s;
    -o-transition: background-color .15s;
    transition: background-color .15s;
}
