

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #000000;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#profilePic {
    border-radius: 100%;
    width: 30%;
    height: auto;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 5rem;
    width: 100rem;
    max-width: 100%;
    margin: auto;
}

#description {
    text-align: center;
    word-wrap: normal;
    flex-grow: 0;
    max-width: 90%;
}

#allTheInputs {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 100%;
}

#allTheInputs>div{
    max-width: 100%;
}

#allTheInputs .label{
    margin: 0;
    padding: 2rem 0 .5rem 0;
    text-align: left;
}

#allTheInputs input {
    border: none;
    border-bottom: #36377a solid .1rem;

    margin-bottom: 2rem;
    box-sizing: border-box;
    background: inherit;
    padding: 0 1rem;
}


#allTheInputs input:focus {
    border-bottom: #36377a solid .3rem;
    margin-bottom: 1.8rem;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.holderForInput {
    display: flex;
    flex-direction: row;
}

.errorWarning {
    background-color: #DD1C1A;
    color: white;
    border-radius: 100%;
    text-align: center;
    width: 3rem;
    height: 3rem;
    margin: 0 1.5rem;
}

#generateButton {
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    /*border: .2rem solid #F0C808;*/
    border: .2rem solid #119DA4;
    padding: .8rem 2rem .8rem 2rem;
    margin: 1rem;
    color: black;
    align-self: center;
}

#generateButton:hover {
    color:white;
    background-color: #119DA4;
    -webkit-transition: background-color .15s;
    -moz-transition: background-color .15s;
    -o-transition: background-color .15s;
    transition: background-color .15s;
}

#rightSide {
    max-width: 100%;
}

#rightSide .label {
    margin-bottom: 1rem;
    max-width: 100%;
}

#output {
    max-width: 100%;
    padding: 1rem .7rem;
    background-color: #ffffff;
    width: 40rem;
    min-height: 40rem;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


